body{
  font-family: 'Ubuntu', sans-serif;
  background-color:orangered;
  padding: 0;
  margin: 0;
}
#superWrapper{
  padding: 30px 0 0 0;
  background-color: lightgray;
  width:100%;
  height: 100vh;
}
#wrapper{
  width: 990px;
  background-color: #FFF;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  border-radius: 10px;
}
h1{
  color:lightslategray;
  text-align: center;
}
#buttonHouse button{
  width: 220px;
  height: 50px;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: black;
  margin: 0 10px 20px 0;
}
#buttonHouse button:hover{
  background-color: red;
}
#buttonHouse button:nth-child(4n){
  margin-right:0;
}
#restart-button{
  background-color: orange;
}
#restart-button:hover{
  background-color:coral;
}
#wrestlerInput{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid darkgray;
}
#wrestlerInput.warning{
  border:1px solid red;
}
#submitBtn{
  width: 120px;
  height: 50px;
  background-color: darkorange;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}
.clear{clear:both;}
